## Example for Variables and Comments :-

In [4]:
ram_bankbalance = 500000
lakshman_bankbalance = 1000000

# name_bankbalance is the balance that a person holds.

ram_bankloan = 200000
lakshman_bankloan = 300000

# name_bankloan is the loan that the person is liable for.

total_bankbalance = ram_bankbalance + lakshman_bankbalance
# total_bankbalance is the sum of the balances that the brothers have together.

total_liabilities = ram_bankloan + lakshman_bankloan
# total_liabilities is the amount of loan they have together.

net_balance = total_bankbalance - total_liabilities
print(net_balance)

1000000

## Variable's Dynamic Typing

In [5]:
# This is an illustrative example for dynamic typing of a Variable.

a = 1
print(type(a))
# Using type(),we print the data type of 'a'.

a = "I.I.T STUDENT COMMUNITY"
print(type(a))
# Again we check the data type of 'a'.

<class 'int'>
<class 'str'>

## More on Variables, Operators and Expressions.

In [6]:
# We check if some variables are accepted by Python having Keywords as their names.

and = 10
print(and)

SyntaxError: invalid syntax (Temp/ipykernel_15140/2295333320.py, line 3)

In [8]:
### We get an error as the word "and" is a logical operator and comes under the list of Keywords.

# Rules of naming a Variable

### Rule 1 :

In [10]:
#only alphanumeric characters and underscore can be used in naming a variable.

IIT = 1
type(IIT)

int

### Rule 2 :

In [1]:
# a variable name cannot start with an integer, it throws an error if starts with. 
# We could name a variable with an underscore or alphabet in the beginning.

2IIT = 1

SyntaxError: invalid decimal literal (Temp/ipykernel_12404/2762244468.py, line 4)

In [18]:
# This is an example of a perfect naming for a variable.
a1 = IIT
_a = 5

print(a1)
print(_a)

1
5

### Rule 3 :

In [24]:
# Variables in Python are case sensitive.
# One example for this could be :-

roll = 1
Roll = 2
print(Roll)

# This prints only value of Roll as we had given 'R'oll here. 

print(roll,Roll)
# This would print both roll and Roll as we have mentioned them accordingly.

2
1 2

## Multiple Assignment

In [30]:
# Multiple Assignment is used to assign 2 or more variables in a single line.

# Method 1

F,U,N = 1,2,3
print(F,U,N)
print(F)
print(U)
print(N)

# Method 2

X=Y=Z=1
print(X,Y,Z)
print(X)
print(Y)
print(Z)

1 2 3
1
2
3
1 1 1
1
1
1

### Altering the values

In [31]:
x,y = 1,2
print(x,y)
x,y = y,x
print(x,y)

1 2
2 1

### Deleting Variables

In [29]:
x,y = 10,20
print(x,y)

# Now we delete x using del() function and are shown an error as the computer cannot locate it after deletion.

del(x)
print(x)

10 20

NameError: name 'x' is not defined

## Shorthand Operators :

In [36]:
# Shorthand Operators examples and comparision.

x = 1
x = x + 1
x = x + 1
x = x + 1
print(x)

4

In [37]:
# Now we use Shorthand Operators and check whether the result is same ?

x = 1
x += 1
x += 1
x += 1
print(x)

4

In [3]:
# To our surprise, the result remains same and this is the use of Shorthand Operators.
# Helps in maintaining less code and saves time as well.

 ## NOTE :- SHORTHAND OPERATORS ARE APPLICABLE NOT ONLY TO + , BUT TO ALL MATHEMATICAL OPERATORS.

## 'in' operator :

In [2]:
# the 'in' operator checks if a particular value is present in something which is predefined relatively.
# Returns True if it exists and False if it doesn't.
# An example to illustrate this would be :-

print('alpha' in 'A variable name can contain only alpha-numeric characters and underscores')

print('alpha' in 'A variable name can start only with either an letter or an underscore')

# Let's execute these lines to check the respective Outputs.
# Make sure that the Output would be either a True or a False ONLY.

True
False

## Chaining Operators :

In [ ]:
# When we use multiple relational operators in a single statement, then it is called chaining operators.

In [4]:
# Returns True or False accordingly as output
# an example would be :-

x = 5
print(1 < x < 10)
print(10 < x < 20)
print(x < 10 < x*10 < 100)
print(10 > x <= 9)
print(5 == x > 4)

True
False
True
True
True

# Escape Characters :

In [6]:
# Used when there's a single or double quote in the string that we want to print.
# An example would be :-

print('I'm going to clear Qualifier Exam.')
# the above would give us an error. This is the point at which Escape Character has its role.

SyntaxError: unterminated string literal (detected at line 4) (Temp/ipykernel_12768/2557194222.py, line 4)

In [7]:
print('I\'m going to clear Qualifier Exam.')
# this will result in the output which user wants to print.

I'm going to clear Qualifier Exam.

In [12]:
# Another example :-

print("We're from \"IIT\" Madras")

We're from "IIT" Madras

In [15]:
# '\t' is used for printing more spaces.
# Below is an example for its execution.
print("Hi! What's your progress?")
print("Hi!\t What's your progress?")

Hi! What's your progress?
Hi!	 What's your progress?

In [17]:
# '\n' is used for printing in a new line.
# Below is an example.
print("Hi! How are you feeling?")
print("Hi!\n How are you feeling?")

Hi! How are you feeling?
Hi!
 How are you feeling?

## All 3 types of quotes in a single example.

In [18]:
# We know about single and double quotes. The Triple quotes are used to store multiline strings.

x = 'This is a String'
y = "This is also a String"
z = '''first line
second line
third line
fourth line
fifth line'''

print(x)
print(y)
print(z)

# Let's check the output !!

This is a String
This is also a String
first line
second line
third line
fourth line
fifth line

# String Methods

In [3]:
# there are 14 string methods in Python.
# Let's see example of each of them with their definition as well.

In [1]:
# lower() method - changes the string into lower or small alphabets.

x = "IIT MADRAS"
x.lower()

'iit madras'

In [2]:
# upper() method - changes the string characters into capital letters.

x = "qualifier"
x.upper()

'QUALIFIER'

In [3]:
# capitalize() method - Capitalizes the beginning letter of the string.

x = "success"
x.capitalize()

'Success'

In [5]:
# title() method - Capitalizes the starting character of each word.

x = "i will qualify with high score"
x.title()

'I Will Qualify With High Score'

In [6]:
# swapcase() method - swaps the capitals with lower alphabets in a string.

x = "congratulations TO you"
x.swapcase()

'CONGRATULATIONS to YOU'

In [8]:
# isdigit() method - checks if all the elements in a string are digits and returns True or False based on the check.

x = "12345"
x.isdigit()

True

In [11]:
# isalpha() method - checks if all characters are alphabets in a string and returns True or False basing on the check.
# spaces should not be there in the string even if all the characters are alphabets.

x = "AlltheBest"
x.isalpha()

True

In [14]:
# isalnum() method - checks if all the characters are alpha-numeric and returns True or False basing on the check.
# spaces should not be there even if all are alphanumeric in order to get a True as output.

x = "IIT123"
x.isalnum()

True

In [15]:
# islower() method - checks if all the characters are in lowercase.

x = "this will result in a true"
x.islower()

True

In [16]:
# isupper() method - checks if all the characters are in uppercase.

x = " IIT IS A PRESTIGIOUS INSTITUTE."
x.isupper()

True

In [17]:
# istitle() method - checks if the rule of a title is followed or not.

x = "I Am Feeling Better Now."
x.istitle()

True

In [20]:
# strip() method - returns a trimmed version of string.
# we need to give the character inside braces which we need to remove to make it short.

x = "---PYTHON---"
x.strip('-')

'PYTHON'

In [21]:
# lstrip() method - returns a left trim version of the string.
# we need to give the character inside braces.

x = "---PYTHON---"
x.lstrip('-')

'PYTHON---'

In [22]:
# rstrip() method - returns a right trim version of the string.
# we need to give the character inside braces.

x = "---PYTHON---"
x.rstrip('-')

'---PYTHON'

In [23]:
# startswith() method - checks if the string starts with the given character or not.
# Returns True or False based on the check.

x = "Python"
x.startswith("P")

True

In [24]:
# endswith() method - checks if the string ends with the given character or not.
# Returns True or False based on the check.

x = "Python"
x.endswith("n")

True

In [25]:
# count() method - checks the number of times that a character repeats in a string.
# gives an integer as output.

x = "1223334444"
x.count("2")

2

In [27]:
# index() method - returns the index number of the character at which it is present in the string.
# returns an integer as output.

x = "python"
x.index("h")

3

In [28]:
# replace() method - replaces the character that we wanted to, with the desired one.

x = "string"
x.replace("s","S")

'String'

#                          If-Else loop

In [1]:
# if-else loop is used to print statements based on some defined criteria after verifying the given condition with criteria.
# The below would work like an example for your understanding :

age = int(input())
# we implement the if-else loop here to check for the voting eligibilty

if age >= 18:
    print("Elgible")
else:
    print("Not Eligible")
    
# the output depends on the input we give.

22
Elgible

# If-Else elif loop ( sub loop )

In [2]:
# The elif statement allows you to check multiple expressions for TRUE and execute a block of code as soon as one of the, 
# conditions evaluates to TRUE.

var = 100
if var == 200:
   print("1 - Got a true expression value")
   print(var)
elif var == 150:
   print("2 - Got a true expression value")
   print(var)
elif var == 100:
   print("3 - Got a true expression value")
   print(var)
else:
   print("4 - Got a false expression value")
   print(var)

print("Good bye!")

3 - Got a true expression value
100
Good bye!

# Libraries and Importing them into Code.

## Math Library Example

In [12]:
# A library is a collection of existing functions that can be used in your code.
# We use libraries in a code with the help of a keyword "import".
# The below would make you understand in importing libraries and using them accordingly.

import math
# we've imported a library named math in the previous line.

print(math.sqrt(25))
print(math.factorial(2))
print(math.pow(4,2))

5.0
2
16.0

### Random Library Example

In [11]:
# Random library can be used in simulating some uncertain conditions like coin toss, drawing a card from a pile etc.
# The below example illustrates the case of a coin toss.

import random
a = random.random()

if a < 0.5:
    print("Heads")
else:
    print("Tails")

Heads

## Calendar library Example

In [14]:
# Calendar library is useful in printing the calendar of a particular month of an year and also in printing the calendar of an year.
# its syntax goes to be like:    calendar.month(year, month number)
# An example would be :-

import calendar

calendar.month(2021,12)
# this would print the calendar of December month of 2021 as an output.

'   December 2021\nMo Tu We Th Fr Sa Su\n       1  2  3  4  5\n 6  7  8  9 10 11 12\n13 14 15 16 17 18 19\n20 21 22 23 24 25 26\n27 28 29 30 31\n'

In [15]:
# Example for printing the calendar of an year that we want to.

import calendar

calendar.calendar(2021)

'                                  2021\n\n      January                   February                   March\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7\n 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14\n11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21\n18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28\n25 26 27 28 29 30 31                                29 30 31\n\n       April                      May                       June\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n          1  2  3  4                      1  2          1  2  3  4  5  6\n 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13\n12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20\n19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27\n26 27 28 29 30            24 25 26 27 28 29 30      28 29 30\n                          31\n\n        July                     August                  September\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n          1  2  3  4                         1             1  2  3  4  5\n 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12\n12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19\n19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26\n26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30\n                          30 31\n\n      October                   November                  December\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5\n 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12\n11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19\n18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26\n25 26 27 28 29 30 31      29 30                     27 28 29 30 31\n'